# Arquivo de dependências do projeto
# Use este arquivo para instalar as dependências do projeto com pip

pydantic
pydantic_settings

# HTTP Requests
requests

# Data Processing
tqdm

# Web Scraping
beautifulsoup4
html2text

# Logging
logging

# Embedding
sentence-transformers

# Vector Database
faiss-cpu

# LangChain
langchain
llama-cpp-python

# LangChain for LLMs
langchain-llms

# Hugging Face
transformers
huggingface-hub

# LangChain Community
langchain-community

# FastAPI for serving the LLM
fastapi

# Uvicorn for serving the FastAPI app
uvicorn

# Unstructured for document processing
unstructured

# LayoutParser for document layout analysis
layoutparser

# Language Detection
langdetect